* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  @media screen and (max-width: 550px) {
    .game-content  {
      width: 400px;
    }
  }
  @media screen and (max-width: 550px) {
    .game-screen-container  {
      width: 420px;
    }
  }
  @media screen and (max-width: 400px) {
    .game-content  {
      width: 300px;
    }
  }
  @media screen and (max-width: 400px) {
    .game-screen-container  {
      width: 320px;
    }
  }
  @media screen and (min-width: 550px) {
    .game-content   {
      width: 500px;
    }
  }
  @media screen and (min-width: 550px) {
    .game-screen-container   {
      width: 520px;
    }
  }
  
.text span {
  opacity: 0;
}
.text span.relealed {
  opacity: 1;
}
.text span.green {
  color: green;
}

  body {
    background-color: #333;
    background-image: url('./images/Anime-Forest-Backgrounds-Desktop.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 5px;
    gap: 5px;
  }
  .btn-1 {

  }
  
.container {
    
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.game-content{
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  
  background-image: url('../images/Digital-Art-High-Definition-4K-Wallpaper-41716.jpg');
}
.game-screen {
  position: relative;
}
.game-screen-container {
  background-color: black;
  
  z-index: 20;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.game-text-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: auto;
  word-wrap: wrap;
  word-break: wrap;
  color: white;
  padding: 10px;
}
button:hover {
  cursor: pointer;
}

.dialogue-screen-container {
border: 5px solid black;
height: auto;

z-index: 10;
margin-top: -5px;
position: relative;
background-color: rgba(0, 0, 0, 0.5);
}
#options-tab {
z-index: 10;

}
#option {
text-wrap: wrap;
word-wrap: break-word;
word-break: break-all;
color: white;
width: 100%;
display: block;

}
#option-buttons button {
background-color: transparent;
border: none;
padding: 10px;
width: 100%;
color: white;
display: block;
justify-content: left;
display: flex;
}
.footer button {
background-color: transparent;
border: none;
color: white;
padding: 5px;
}
.footer {
display: flex;
justify-content: space-between;
background-color: transparent;
border-top: 5px solid black;
color: white;


}
.space-div {
display: flex;

}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.dialogue-screen-container {
border: 5px solid black;
height: auto;

z-index: 10;
margin-top: -5px;
position: relative;
background-color: rgba(0, 0, 0, 0.5);
}
#options-tab {
z-index: 10;

}
#option {
text-wrap: wrap;
word-wrap: break-word;
word-break: break-all;
color: white;
width: 100%;
display: block;

}
#option button {
background-color: transparent;
border: none;
padding: 10px;
width: 100%;
color: white;
display: block;
justify-content: left;
display: flex;
}
.footer button {
background-color: transparent;
border: none;
color: white;
padding: 5px;
}
.footer {
display: flex;
justify-content: space-between;
background-color: transparent;
border-top: 5px solid black;
color: white;


}
.space-div {
display: flex;

}
