* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #333;
    background-image: url('./images/Anime-Forest-Backgrounds-Desktop.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.container {
    background-color: #333;
}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.dialogue-screen-container {
border: 5px solid black;
height: auto;

z-index: 10;
margin-top: -5px;
position: relative;
background-color: rgba(0, 0, 0, 0.5);
}
#options-tab {
z-index: 10;

}
#option {
text-wrap: wrap;
word-wrap: break-word;
word-break: break-all;
color: white;
width: 100%;
display: block;

}
#option button {
background-color: transparent;
border: none;
padding: 10px;
width: 100%;
color: white;
display: block;
justify-content: left;
display: flex;
}
.footer button {
background-color: transparent;
border: none;
color: white;
padding: 5px;
}
.footer {
display: flex;
justify-content: space-between;
background-color: transparent;
border-top: 5px solid black;
color: white;


}
.space-div {
display: flex;

}
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}
.dialogue-screen-container {
border: 5px solid black;
height: auto;

z-index: 10;
margin-top: -5px;
position: relative;
background-color: rgba(0, 0, 0, 0.5);
}
#options-tab {
z-index: 10;

}
#option {
text-wrap: wrap;
word-wrap: break-word;
word-break: break-all;
color: white;
width: 100%;
display: block;

}
#option button {
background-color: transparent;
border: none;
padding: 10px;
width: 100%;
color: white;
display: block;
justify-content: left;
display: flex;
}
.footer button {
background-color: transparent;
border: none;
color: white;
padding: 5px;
}
.footer {
display: flex;
justify-content: space-between;
background-color: transparent;
border-top: 5px solid black;
color: white;


}
.space-div {
display: flex;

}
